.github/**
.husky/**
.vscode/**
src/**
test/**
node_modules/**
.gitignore
.lintstagedrc.json
.release-please-manifest.json
.release-please-config.json
.node-version
tsconfig.json
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
